.article-card.home {
    width: 95vw;
    padding: 10px 2px 20px;
    border-top: 1px solid var(--tertiary-bg-color);
    border-bottom: 1px solid var(--tertiary-bg-color);
}

.article-card.browse {
    width: 90vw;
    padding: 10px 2px 20px;
    border-bottom: 1px solid var(--tertiary-bg-color);
}

.header.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    z-index: 10;
    font-weight: 300;
    font-size: 0.9rem;
    margin: 5px;
}

.header.browse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    font-weight: 300;
    font-size: 0.9rem;
    margin: 5px;
}

.category-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.category-container > * {
    width: fit-content;
    padding: 1px 4px;
    border-radius: 5px;
    color: var(--main-text-color);
    background-color: var(--secondary-bg-color);
}

.category {
    background-color: var(--category-bg-color);
}

.subcategory {
    background-color: var(--subcategory-bg-color);
}

.icon {
    width: 27px;
    height: 27px;
}

.icon.false {
    fill: var(--secondary-bg-color);
}

.favorite {
    margin-left: auto;
    margin-right: 12px;
}

.favorite.true {
    fill: var(--favorite);
}

.read-later.true {
    fill: var(--read-later);
}

.title.home {
    text-align: center;
    overflow-wrap: break-word;
    font-size: 1.65rem;
    margin: 15px;
}

.title.browse {
    text-align: center;
    overflow-wrap: break-word;
    font-size: 1.65rem;
    margin: 10px;
}

.teaser-text {
    text-align: center;
    margin: 0;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}