.article {
    margin: 110px 0 80px 0;
}

.article.text.blur {
    filter: blur(3px);
}

.comments-section {
    z-index: 11;
}

.icon.comments {
    position: fixed;
    z-index: 11;
    top: 95px;
    right: 15px;
}

.comments-container {
    position: fixed;
    z-index: 11;
    right: 3vw;
    top: 135px;
    height: 70vh;
    width: 94vw;
    overflow: scroll;
    border-radius: 5px;
    background-color: var(--quinary-bg-color);
}

.comments-container.hidden {
    display: none;
}

.comments-container.visible {
    display: block;
}

#comments-header {
    margin-bottom: 10px;
    text-align: center;
    padding: 5px 0;
    background-color: var(--tertiary-bg-color);
}