.articleCard {
    border: 1px solid gray;
    height: 300px;
    width: 100vw;
}

.articleTitle {
    text-align: center;
}

.articleHeader {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(255, 221, 221);
}