.article-card {
    width: 95vw;
    padding: 2px 2px 15px;
    background-color: var(--secondary-bg-color);
    border-radius: 2%;
}


.article-card-header {
    display: flex;
    justify-content: space-between;
    z-index: 10;
    font-weight: 300;
    font-size: 0.9rem;
    margin: 5px;
}

.article-card-category-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.article-card-category-container > * {
    padding: 1px 4px;
    border-radius: 3px;
    width: fit-content;
}

.article-card-category {
    background-color: var(--category-bg-color);
}

.article-card-subcategory {
    background-color: var(--subcategory-bg-color);
}

.article-card-icon {
    width: 27px;
    height: 27px;
    fill: var(--primary-icon-color);
}

.article-card-favorite {
    margin-left: auto;
    margin-right: 12px;
}

.article-card-unfavorite {
    margin-left: auto;
    margin-right: 12px;
}

.article-card-title {
    text-align: center;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 1.65rem;
}

.article-card-teaser-text {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}