#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    height: 80px;
    text-align: center;
    padding: 0;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid var(--secondary-bg-color);
}

#title {
    margin: 0;
}

#random-card {
    position: fixed;
    top: 35vh;
}

.btn-random-fetch-container {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 5px;
    bottom: 150px;
}

.btn-category-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.btn-random-fetch {
    font-size: 0.85rem;
}

.btn-random-fetch:active {
    box-shadow: inset 0 0 3px var(--main-text-color);
}

#next-button {
    margin-bottom: 5px;
    font-size: 2rem;
}

#next-arrow-icon {
    margin-left: 10px;
    height: 25px;
    fill: var(--tertiary-icon-color);
}