#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--tertiary-bg-color);

    --header-height: 50px;
    --p-height: 50px;
    --p-position: 170px;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    height: var(--header-height);
    padding: 0;
    background-color: var(--main-bg-color);
    /* border-bottom: 1px solid var(--secondary-bg-color); */
}

#title {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 300;
}

.home-paragraph-container {
    position: fixed;
    top: calc(var(--header-height) + var(--p-position));
    height: var(--p-height);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.home-paragraph-container > p {
    margin: 0;
    font-weight: 300;
    color: var(--secondary-text-color);
    font-style: italic;
}

.random-card {
    position: fixed;
    top: calc(var(--header-height) + var(--p-height) + var(--p-position));
}

.btn-random-fetch-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    bottom: var(--bottom-gap-subnav);
    width: 100vw;
}

.btn-random-fetch {
    width: 100%;
    height: var(--nav-height);
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--main-bg-color);
    /* border: 1px solid var(--quaternary-bg-color); */
    color: var(--tertiary-icon-color);
    text-decoration: underline;
    transition: color 0.2s;
}

.btn-random-fetch:active {
    color: var(--tertiary-text-color);
}

.btn-category-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-category-container > * {
    width: 50%;
    height: 30px;
    text-align: center;
    border-radius: 0;
    background-color: var(--main-bg-color);
}