.comment-container {
    margin: 10px 5px;
    padding: 10px;
    overflow-wrap: break-word;
    border-radius: 5px;
    background-color: rgb(39, 39, 39);
    color: rgb(235, 235, 235);
}

.comment.header {
    display: flex;
    justify-content: space-between;
    color: rgb(235, 235, 235);
}

.comment.user {
    font-size: 1.2rem;
}

.comment.user.self {
    color: rgb(253, 157, 213);
}

.comment.date {
    font-weight: 300;
    font-size: 0.8rem;
    color: rgb(187, 187, 187);
}

.comment.text {
    font-weight: 300;
}