.comment-form {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    width: fit-content;
    margin: 0 auto 15px;
    padding: 3px 15px;
    border-radius: 5px;
    background-color: var(--quaternary-bg-color);
    color: var(--main-text-color);
}

.comment-form.input {
    height: 100%;
    margin: 0;
}

.icon.submit {
    height: 25px;
    margin: 0;
    padding: 0;
    fill: var(--quinary-icon-color);
}

.icon.submit.ready {
    fill: var(--quaternary-icon-color);
}

.icon.submit.ready:active {
    fill: var(--tertiary-icon-color);
}