.preferences-container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.preferences-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.icon.family-browsing {
    fill: var(--primary-icon-color);
}

.icon.family-browsing.false {
    fill: var(--senary-icon-color);
}

.icon.light-mode {
    fill: var(--primary-icon-color);
}