#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#search-bar {
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding: 3px 15px;
    width: 60vw;
    height: 30px;
    background-color: var(--secondary-bg-color);
    border-radius: 5px;
}

#search-icon {
    width: 10%;
    fill: var(--main-bg-color);
}

#search-input {
    display: block;
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

/* #filter-category {
    background-color: rgba(123, 158, 255, 0.555);
}

#filter-subcategory {
    background-color: rgba(115, 246, 255, 0.541);
} */