.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    margin-bottom: 7px;
}

.search-bar {
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding: 3px 15px;
    width: 80vw;
    height: 30px;
    background-color: var(--secondary-bg-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.search.icon.submit {
    width: 10%;
    fill: var(--main-bg-color);
    transition: fill 0.2s;
}

.search.icon.submit.ready {
    fill: var(--tertiary-icon-color);
}

.search.icon.submit.ready:active {
    fill: var(--main-text-color);
}

.search-input {
    display: block;
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter > * {
    width: 80vw;
    text-align: center;
}

.filter-category {
    background-color: var(--category-bg-color);
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.filter-category.subcat {
    border-radius: 0;
}

.filter-subcategory {
    background-color: var(--subcategory-bg-color);
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

option {
    background-color: var(--secondary-bg-color);
    color: var(--main-bg-color);
    text-align: center;
}