input {
    all: unset;
}

select {
    /* all: unset; */
}

#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#search-bar {
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding: 3px 15px;
    width: 60vw;
    height: 30px;
    background-color: rgba(232, 255, 246, 0.13);
    border-radius: 5px;
}

#search-icon {
    width: 10%;
    fill: rgb(20, 20, 20);
}

#search-input {
    display: block;
    width: 90%;
    height: 100%;
    background-color: rgba(232, 255, 246, 0);
    color: white;
    font-weight: 300;
}

select {
    font-family: 'Rubik', sans-serif;
    width: fit-content;
    padding: 3px 15px;
    background-color: rgba(232, 255, 246, 0.116);
    color: rgb(20, 20, 20);
    font-weight: 400;
    font-size: 0.95rem;
    border: none;
    border-radius: 5px;;
}

#filter-category {
    background-color: rgba(123, 158, 255, 0.555);
}

#filter-subcategory {
    background-color: rgba(115, 246, 255, 0.541);
}