#search-button {
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0 auto 50px;
    padding: 4px 18px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: rgb(235, 235, 235);
    background-color: rgb(59, 56, 58);
}

#search-button:active {
    box-shadow: inset 0 0 3px white;
}

#search-arrow-icon {
    height: 20px;
    fill: rgb(252, 82, 181);
}

.article-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.page-turn-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}

.page-turn-buttons.bottom {
    margin: 10px 10px 75px;
}

#page-number {
    color: rgba(255, 255, 255, 0.836);
}

.page-turn {
    height: 25px;
    width: 25px;
    fill: rgba(255, 255, 255, 0.836);
}

.page-turn.false {
    fill: rgba(255, 255, 255, 0.171);
}

.page-turn.left {
    transform: rotate(180deg);
}