@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin: 0 0 60px 0;
    background-color: rgb(20, 20, 20);
    color: rgb(235, 235, 235);
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

input {
    all: unset;
    background-color: rgba(232, 255, 246, 0.13);
    color: white;
    font-weight: 300;
}

select {
    all: unset;
    font-family: 'Rubik', sans-serif;
    width: fit-content;
    padding: 3px 15px;
    background-color: rgb(53, 53, 53);
    color: rgb(235, 235, 235);
    font-weight: 300;
    font-size: 0.95rem;
    border: none;
    border-radius: 5px;;
}

button {
    all: unset;
    width: fit-content;
    background-color: rgb(53, 53, 53);
    color: white;
    font-weight: 300;
    padding: 3px 15px;
    border-radius: 5px;
}