.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100vw;
    height: 60px;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: rgb(20, 20, 20);
    border-top: 1px solid rgb(73, 73, 73);
}

.navbar__link {
    text-decoration: none;
}

.icon {
    fill: rgb(235, 235, 235);
    height: 30px;
    width: 30px;
}