.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 50;
    bottom: 0;
    width: 100vw;
    height: var(--nav-height);
    padding: 0;
    margin: 0;
    background-color: var(--main-bg-color);
    border-top: 1px solid var(--secondary-bg-color);
}

.navbar.subnav-path-subnav-hidden.favorites {
    border-top: 2px solid var(--favorite);
}

.navbar.subnav-path-subnav-hidden.read-later {
    border-top: 2px solid var(--read-later);
}

.navbar.subnav-path-subnav-hidden.preferences {
    border-top: 2px solid var(--main-text-color);
}

.icon {
    fill: var(--secondary-icon-color);
    height: 28px;
    width: 28px;
    transition: fill 0.2s;
}

.selected {
    fill: var(--primary-icon-color);
}