.subnavbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 50;
    bottom: 60px;
    width: 100vw;
    height: 45px;
    padding: 10px 0;
    background-color: var(--main-bg-color);
    border: 1px solid var(--secondary-bg-color);
}

.icon.subnav {
    fill: var(--secondary-icon-color);
    height: 23px;
    width: 23px;
}

.icon.logout {
    fill: var(--tertiary-icon-color);
}